[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install --legacy-peer-deps", "npm install lightningcss-linux-x64-gnu"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"
